[submodule "hashMap-Implementaion"]
	path = hashMap-Implementaion
	url = https://github.com/ElanaFelsi/hashMap-Implementaion.git
[submodule "fixedPoint"]
	path = fixedPoint
	url = https://github.com/ElanaFelsi/fixedPoint.git
[submodule "genericVector"]
	path = genericVector
	url = https://github.com/ElanaFelsi/genericVector.git
[submodule "Pre-processor"]
	path = Pre-processor
	url = https://github.com/ElanaFelsi/Pre-processor.git
[submodule "Schedular-Implementation"]
	path = Schedular-Implementation
	url = https://github.com/ElanaFelsi/Schedular-Implementation.git
[submodule "Memory-Allocator"]
	path = Memory-Allocator
	url = https://github.com/ElanaFelsi/Memory-Allocator.git
[submodule "smartPointers-Implementation"]
	path = smartPointers-Implementation
	url = https://github.com/ElanaFelsi/smartPointers-Implementation.git
