[submodule "hashMap-Implementaion"]
	path = hashMap-Implementaion
	url = https://github.com/ElanaFelsi/hashMap-Implementaion.git
[submodule "fixedPoint"]
	path = fixedPoint
	url = https://github.com/ElanaFelsi/fixedPoint.git
[submodule "genericVector"]
	path = genericVector
	url = https://github.com/ElanaFelsi/genericVector.git
